{% extends "base.html" %}

{% load static %}

{% block title %}About{% endblock title %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>About Us</h2>
        <p>We help companies identify technology problems and implement solutions. They often coordinate their efforts with internal IT staff on a wide range of projects, including: Assessing cybersecurity threats. Maintaining and repairing existing infrastructure.</p>
      </div>
    </div>
    <!-- End Breadcrumbs -->
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
  
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static "img/about.jpg" %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>We are a team of dedicated personnel with the objectve of revolutionizing the tech industry.</h3>
            <p class="fst-italic">
              With over a decade of experience in the software industry, we are a leading example of 'growth with goal'
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Recognized by international standard organizations.</li>
          <li><i class="bi bi-check-circle"></i> Delivering software solutions to over 100+ companies globally.</li>
          <li><i class="bi bi-check-circle"></i> Deliver the best possible outcomes to our clients through understanding their situation and goal in the coming years and helping them achieve it through our dedication and constant effort.</li>
            </ul>
            <p>
              We would be your best partner in tech industry if you want to have an advantage over your competitors
            </p>
  
          </div>
        </div>
  
      </div>
    </section>
    <!-- End About Section -->
  
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="117" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section>
    <!-- End Counts Section -->
  
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
  
        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What are they saying</p>
        </div>
  
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
  
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static "img/testimonials/testimonials-1.png" %}" class="testimonial-img" alt="">
                  <h3>Monkey D Luffy</h3>
                  <h4>Graphic Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    This consultancy is great to develop your skill from ground up and be a pro at your development. DeaaTH IT Consultancy is a hidden gem in the world of IT education. They help you in landing your 1st job as well. I fully vouch for them.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
  
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static "img/testimonials/testimonials-2.png" %}" class="testimonial-img" alt="">
                  <h3>Kratos</h3>
                  <h4>Backend Developer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    My experience with DeaaTH IT Consultancy has been truly exceptional! The team's expertise and dedication to their craft are second to none. I learned invaluable skills during my time with them, and their mentorship has been instrumental in shaping my IT career. I wholeheartedly recommend DeaaTH IT Consultancy to anyone looking to gain real-world IT knowledge.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
  
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static "img/testimonials/testimonials-3.png" %}" class="testimonial-img" alt="">
                  <h3>Ceaser</h3>
                  <h4>Content Writing</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    DeaaTH IT Consultancy provides a fantastic learning environment for aspiring IT professionals. The consultants are not only experts in their fields but also incredibly patient and willing to share their knowledge. I'm grateful for the opportunity to have studied with them, and I've gained practical skills that have already proven invaluable in my career.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
  
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static "img/testimonials/testimonials-4.png" %}" class="testimonial-img" alt="">
                  <h3>Kong</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Choosing DeaaTH IT Consultancy for my IT education was a game-changer. Their comprehensive curriculum, hands-on projects, and supportive mentors made the learning process enjoyable and effective. I felt fully prepared to tackle real-world IT challenges after completing their program. If you're serious about a career in IT, this consultancy is the place to be!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
  
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static "img/testimonials/testimonials-5.png" %}" class="testimonial-img" alt="">
                  <h3>Uzumaki Naruto</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    DeaaTH IT Consultancy is a hidden gem in the world of IT education. The personalized attention and one-on-one guidance I received from the consultants exceeded my expectations. They genuinely care about their students' success and go above and beyond to ensure you grasp complex concepts. I can confidently say that studying here was a pivotal step in my IT journey, and I'm thankful for the positive impact it has had on my career.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
  
          </div>
          <div class="swiper-pagination"></div>
        </div>
  
      </div>
    </section>
    <!-- End Testimonials Section -->
  
</main>

{% endblock content %}