{% extends "base.html" %}

{% load static %}

{% block title %}Courses{% endblock title %}


{% block content %}

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Trainers</h2>
        <p>These are our one of the best trainers in the industry. They are well versed in their fields with over 5 years of working experience and hands-on real life works on the project. </p>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">
      
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{% static "img/trainers/trainer-1.jpg" %}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Andrew Tate</h4>
                  <span>Web Development</span>
                  <p>
                    With a decade of web development experience, Andrew is best man for the job in React and NodeJS 
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{% static "img/trainers/trainer-2.jpg" %}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Camren Bicondova</h4>
                  <span>SEO</span>
                  <p>
                    With more than 5 years in marketing department, Camren is the best person to learn 
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{% static "img/trainers/trainer-3.jpg" %}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Tristan Tate</h4>
                  <span>Content</span>
                  <p>
                    Tristan is a pro when it is time to attract people with his writings
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="{% static "img/trainers/trainer-4.png" %}" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Monkey D Luffy</h4>
                    <span>Web Designer</span>
                    <p>
                        Luffy is a professional graphic designer with high skills in ui/ux
                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="{% static "img/trainers/trainer-5.png" %}" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Kratos</h4>
                    <span>Blockchain Engineer</span>
                    <p>
                        Kratos is one of the best engineer in the blockchain department
                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="{% static "img/trainers/trainer-6.png" %}" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Joker</h4>
                    <span>Web3 Developer</span>
                    <p>
                        Joker is skilled at web3 design and implementation
                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
            </div>
      
          </div>
      
        </div>
    </section>
    <!-- End Trainers Section -->

</main>

{% endblock content %}